<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="/styles/payment.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <nav class="navbar">
        <a href="/home" class="back-button">
            <span class="material-icons">arrow_back</span>
        </a>
        <div class="menu-icon">
            <span class="material-icons">shopping_cart</span>
        </div>
    </nav>

    <div class="main">
        <!-- Foto principal -->
        <div class="photo-container">
            <canvas id="photoCanvas" class="photo"></canvas>
        </div>

        <!-- Sección de resolución -->
        <div class="resolution">
            <span class="resolution-text"></span>
            <div class="line"></div> 

        </div>

        <!-- Texto "Comprar Foto" -->
        <div class="buy-photo-text">
            <p>Comprar Foto</p>
        </div>

        <!-- Botones -->
        <div class="buttons">
            <button class="buy-button">Foto única 5$</button>
            <button class="add-to-cart-button">Agregar al carrito</button>
            <button class="download-button" disabled>Descargar Foto</button>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-item">
          <span class="material-icons">home</span>
          <span>Inicio</span>
        </div>
        <div class="footer-item">
          <span class="material-icons">search</span>
          <span>Explorador</span>
        </div>
        <div class="footer-item">
          <span class="material-icons">notifications</span>
          <span>Notificaciones</span>
        </div>
        <div class="footer-item">
          <a href="/profile"><span class="material-icons">person</span></a>
          <span>Perfil</span>
        </div>
    </footer>



    <script>
        const params = new URLSearchParams(window.location.search);
        const paymentId = params.get('payment_id');
        const paymentStatus = params.get('status');
        const imageUrl = params.get('imageUrl');
      
        // Mostrar detalles del pago o realizar alguna lógica adicional
        if (paymentStatus === 'approved') {
          // Mostrar mensaje de éxito y habilitar la descarga
          alert('¡Pago aprobado!');
          // Lógica para permitir la descarga de la foto
        } else {
          alert('El pago no fue aprobado o no se completó.');
        }
      </script>
    
    <script type="module" src="/payment.mjs"></script>

    
</body>
</html>
